body {
    padding: 100px 50px 50px 500px;
}

.info {
    display: flex;
    justify-content: space-between;
}

.info .input-box {
    display: flex;
    align-items: center;
}

.info .input-box label {
    min-width: 120px;
}

.info .input-box input {
    padding: 10px;
    margin-top: 15px;
    width: 300px;
}

.info .input-box textarea {
    width: 300px;
    height: 200px;
    padding: 5px;
    margin-top: 15px;
}

.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    size: 5px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-top: 15px;
}

legend {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}

fieldset {
    padding: 20px 60px;
}

.row {
    display: flex;
    padding: 10px;
    gap: 10px;
}

.col-12 {
    display: inline-block;
    justify-content: space-between;


}

.col-12 .select {
    padding: 10px;
    margin-bottom: 15px;
    width: 200px;
    align-items: center;
}

.error {
    margin: 0px;
    font-size: 15px;
    color: red;
}
