body {
    padding: 100px 50px 50px 500px;
}

.plane-info {
    display: flex;
    justify-content: space-between;
}

.plane-info .input-box {
    display: flex;
    align-items: center;
}

.plane-info .input-box label {
    min-width: 120px;
}

.plane-info .input-box input {
    padding: 10px;
    margin-bottom: 15px;
    width: 300px;
}

.plane-info .input-box textarea {
    width: 300px;
    padding: 5px;
}
button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    size: 5px;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-top: 15px;

}
.error {
    margin: 0px;
    font-size: 15px;
    color: red;
}


legend {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}

fieldset {
    padding: 20px 60px;
}

.row {
    display: flex;
    padding: 10px;
    gap: 10px;
}

.col-12 {
    display: inline-block;
    justify-content: space-between;


}

.col-12 .select {
    padding: 10px  ;
    margin-top: 15px;
    width: 200px;
    align-items: center;
}


/* CSS */
button{
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

button:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

button:hover {
    background-color: #2c974b;
}

button:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

button:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

button:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
